@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif; }

header {
  position: relative; }

nav {
  height: 50px;
  /* position: fixed  */
  width: 100%;
  background-color: #212121;
  z-index: 4; }

.hamburger {
  display: none;
  /* Когда разрешение будет больше 768, скрываем меню-гамбургер. */ }

.menu {
  padding: 10px 70px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none; }
  .menu_item {
    padding-right: 28px;
    border-right: dotted 2px black; }
    .menu_item:last-child {
      border-right: none; }
  .menu_link {
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none; }

.subheader {
  top: 50px;
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6); }
  .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    font-size: 13px;
    font-weight: 100;
    color: #ffffff; }
  .subheader_logo {
    margin-top: 16px;
    display: block; }
  .subheader_phone {
    margin-top: 19px;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    text-align: right; }
  .subheader_call {
    display: block;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: right;
    text-decoration: none; }
  .subheader_btn {
    margin-top: 19px;
    margin-left: 33px;
    width: 178px;
    height: 52px;
    background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
    border: none;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    border-radius: 4px;
    /* Делаем миксин,по которому при наведении на кнопку будет убираться"background-image"и появляться нужный цвет. */
    /* "background-image" нужно цбирать, тюк тогда будет и он и "background-color:" одновременно. */ }
    .subheader_btn:hover {
      background-image: none;
      background-color: #1eacc7; }

.xs-visible {
  display: none; }

.promo {
  padding: 151px 0 135px 0;
  height: 800px;
  background: url("../img/bg/main_bg.jpg") center center/cover no-repeat; }
  .promo_title {
    margin: 0 auto;
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center; }
  .promo_subtitle {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700; }
  .promo_text {
    margin-top: 23px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: center; }
  .promo_btn {
    display: block;
    margin: 0 auto;
    margin-top: 118px;
    width: 259px;
    height: 63px;
    background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.11);
    border: none;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
    color: #ffffff;
    border-radius: 4px;
    /* Делаем миксин,по которому при наведении на кнопку будет убираться"background-image"и появляться нужный цвет. */
    /* "background-image" нужно цбирать, тюк тогда будет и он и "background-color:" одновременно. */ }
    .promo_btn:hover {
      background-image: none;
      background-color: #1eacc7; }

.reasons {
  min-height: 900px;
  padding: 71px 0 65px 0; }
  .reasons_block {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .reasons_round {
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .reasons_icon {
    display: block; }
  .reasons_descr {
    width: 341px; }
  .reasons_subtitle {
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    color: #1eacc7; }
  .reasons_text {
    font-size: 15px;
    font-weight: 300;
    color: #202020; }

.label {
  padding: 8px 11px 6px 12px;
  margin: 0 auto;
  width: 112px;
  height: 24px;
  background-color: #000000;
  font-size: 11px;
  line-height: 11px;
  font-weight: 100;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center; }
  .label_white {
    background-color: #ffffff;
    color: #000000;
    z-index: 3; }

.title {
  margin: 0;
  margin-top: 38px;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #222222;
  text-align: center; }
  .title_white {
    color: #fff;
    z-index: 3; }

.subtitle {
  margin-top: 19px;
  font-size: 17px;
  font-weight: 400;
  color: #222222;
  text-align: center;
  line-height: 17px; }
  .subtitle_white {
    margin-top: 19px;
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    line-height: 17px;
    z-index: 3; }

.mobile {
  min-height: 864px;
  padding: 48px 0 80px 0; }
  .mobile .row {
    margin-top: 32px;
    /* Обычно заданные в БТ классы менять нежелательно */ }
  .mobile_item {
    position: relative;
    margin: 0 auto;
    margin-bottom: 19px;
    width: 320px;
    height: 280px;
    padding-top: 92px; }
    .mobile_item_1 {
      background: url("../icons/cards/1.png") center center/cover no-repeat; }
    .mobile_item_2 {
      background: url("../icons/cards/2.png") center center/cover no-repeat; }
    .mobile_item_3 {
      background: url("../icons/cards/3.png") center center/cover no-repeat; }
    .mobile_item_4 {
      background: url("../icons/cards/4.png") center center/cover no-repeat; }
    .mobile_item_5 {
      background: url("../icons/cards/5.png") center center/cover no-repeat; }
    .mobile_item_6 {
      background: url("../icons/cards/6.png") center center/cover no-repeat; }
    .mobile_item_subtitle {
      font-size: 24px;
      line-height: 31px;
      font-weight: 400;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center; }
    .mobile_item_plus {
      margin: 0 auto;
      margin-top: 110px;
      padding: 6px;
      width: 26px;
      height: 26px;
      background: black;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      cursor: pointer;
      /* Т.к. в разных блоках у крестиков разный отсту сверху, задаём поз.абсолют относительно "&_item". */
      bottom: 35px;
      /* Теперь задаём всем абсолютный отступ снизу. */
      left: 50%;
      transform: translateX(-50%);
      /* И этими двумя строками центрируем по горизонтали. */
      /* Просто "left:50%" не достаточно,т.к. не учитывается размер самого блока с плюсом,и он сдвигается правее. */
      /* img
       * width: 100% */
      /* Теперь делаем плюсик с помощью псевдоэлементов. Одну полоску с ":befor", другую с ":after". */ }
      .mobile_item_plus:before {
        content: "";
        display: block;
        /* Ширина черточки из макета. */
        width: 14px;
        height: 2px;
        background-color: #1eacc7;
        transition: 0.3s all; }
      .mobile_item_plus:after {
        content: "";
        display: block;
        /* Задаём вертикальной черте поз абсолют и центрируем. */
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 2px;
        height: 14px;
        background-color: #1eacc7;
        transition: 0.3s all;
        /* Задаём ,что бы при наведении,чёрточки меняли цвет. */ }
      .mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
        background-color: #ff5656; }

.choice {
  min-height: 896px;
  padding: 57px 0 138px 0;
  background: linear-gradient(#070716 499px, white 397px); }
  .choice_car_img {
    margin: 56px auto 0 auto; }
  .choice img {
    display: block;
    margin: 0 auto; }
  .choice_text {
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
    color: #222222;
    text-align: center; }

.require {
  padding: 68px 0 84px 0; }
  .require_block {
    margin: 33px 0; }
    .require_block_nmb {
      margin-bottom: 0; }
      .require_block_nmb .require_title {
        color: #ff5656; }
        .require_block_nmb .require_title li:before {
          background: url("../icons/check_red.png") center center/cover no-repeat; }
  .require_title {
    font-size: 22px;
    font-weight: 400;
    color: #1eacc7; }
  .require_list {
    list-style-type: none;
    /* Меряем отступп слева в макете линейкой.По-умолчанию там уже есть отступ, но у нас свой,задаём его. */
    padding-left: 50px;
    margin-top: 22px; }
    .require_list li {
      position: relative;
      font-size: 17px;
      line-height: 24px;
      font-weight: 300;
      color: #222222;
      margin-bottom: 10px;
      /*Делаем галочки у элементов списка. */ }
      .require_list li:before {
        content: "";
        /* Делаем галочки стрч.-блч., что бы расположить их на одной строке с текстом. */
        display: block;
        /* vertical-align: middle */
        width: 21px;
        height: 20px;
        background: url("../icons/check_blue.png") center center/cover no-repeat;
        /* Подвигаем галочки, как нужно в макете. */
        /* transform: translate(-5px,-2px) */
        /* Или делаем через абсолютное позиционирование. */
        position: absolute;
        left: -32px;
        top: 3px; }
  .require_descr {
    font-size: 17px;
    font-weight: 300;
    color: #1eacc7; }
  .require .warning .require_title {
    color: #ff5656; }
  .require .warning li:before {
    background: url("../icons/check_red.png") center center/cover no-repeat; }

.cities {
  padding: 49px 0;
  min-height: 717px;
  background: url("../img/bg/bt_bg.jpg") center center/cover no-repeat; }
  .cities_label {
    width: 76px;
    height: 24px; }
  .cities_link {
    display: block;
    margin: 486px auto 0 auto;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #1fbad6;
    text-decoration: none;
    text-align: center; }

footer {
  padding: 14px 27px 39px 19px; }
  footer .line {
    margin: 0 auto;
    width: 299px;
    height: 4px;
    background-color: #1fbad6; }
  footer .footer_wrapper {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    footer .footer_wrapper .social_block {
      display: flex;
      width: 160px; }
      footer .footer_wrapper .social_block_item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 4px;
        width: 32px;
        height: 32px;
        background-color: #070716;
        border-radius: 100px; }
        footer .footer_wrapper .social_block_item i {
          color: white;
          display: block; }
  footer .link_block {
    width: 420px;
    margin: 0 auto; }
    footer .link_block_main {
      display: flex;
      justify-content: center; }
      footer .link_block_main_item {
        padding: 0 24px;
        display: block;
        font-size: 15px;
        font-weight: 300;
        text-transform: uppercase;
        color: #070716;
        text-decoration: none; }
    footer .link_block_second {
      margin-top: 15px;
      display: flex;
      justify-content: center; }
      footer .link_block_second_item {
        padding: 0 11px;
        display: block;
        font-size: 11px;
        font-weight: 300;
        text-transform: uppercase;
        color: #999999;
        text-decoration: none; }
  footer .store_block {
    width: 300px; }
    footer .store_block img {
      display: block;
      margin: 0 auto;
      width: 100%; }
  footer .russian {
    margin-top: 19px;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    color: #1fbad6;
    text-align: center; }

.dec {
  width: 33%; }
  .dec:nth-child(3) {
    display: flex;
    justify-content: flex-end; }

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px; }
  .menu_link {
    font-size: 13px; }

  .promo_title {
    font-size: 50px; }

  .reasons_block {
    align-items: flex-start; }
  .reasons_round {
    margin-right: 0; }
  .reasons_descr {
    width: 300px; }

  .mobile_item {
    width: 300px; }
    .mobile_item_subtitle {
      font-size: 22px; }

  .choice_text {
    font-size: 15px; }

  .require_title {
    font-size: 20px; }
  .require_list li {
    font-size: 15px; }
  .require_descr {
    font-size: 15px; }

  footer .link_block {
    width: 360px; }
    footer .link_block_main_item {
      padding: 0 5px;
      font-size: 10px; }
    footer .link_block_second_item {
      padding: 0 5px;
      font-size: 10px; }

  .title {
    font-size: 36px; }

  .subtitle {
    font-size: 16px; }
    .subtitle .store_block {
      width: 250px; } }
@media (max-width: 991px) {
  .menu_item {
    padding-right: 8px; }
  .menu_link {
    font-size: 10px; }

  .subheader_logo img {
    width: 100%; }
  .subheader_official {
    font-size: 11px; }
  .subheader_call {
    font-size: 18px; }
  .subheader_btn {
    margin-top: 21px;
    height: 40px;
    width: 100%; }
    .subheader_btn:hover {
      background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
      background-color: none; }

  .promo_title {
    font-size: 40px; }
    .promo_title span {
      font-size: 30px; }
  .promo_btn:hover {
    background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    background-color: none; }

  .reasons_block {
    flex-direction: column;
    align-items: center; }
  .reasons_descr {
    margin-top: 20px;
    width: 300px; }

  .mobile_item {
    width: 225px;
    height: 250px; }
    .mobile_item_subtitle {
      font-size: 18px; }

  .choice img {
    width: 100%; }

  footer {
    /* .link_block */
     * /* width: 70px */
     * /* &_main */
     *     /* &_item */
     *         /* padding: 0 3px */
     *         /* font-size: 11px */
     * /* &_second */
     *     /* &_item    */
     *         /* padding: 0 3px */
     *         /* font-size: 9px   */
    /* .store_block */
     * /* width: 250px  */
    /* .footer_wrapper   */
     * /* .social_block */
     *     /* width: 155px    */ } }
@media (max-width: 767px) {
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    /* "height: 100vh " - высота меню на всю видимую высоту на устройстве.  */
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all;
    z-index: 5; }
    .menu_active {
      left: 0; }
    .menu_item {
      padding-right: 0;
      border: none;
      margin: 10px 0; }
    .menu_link {
      font-size: 20px; }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 12px; }
    .hamburger span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #fff;
      margin-bottom: 2px;
      transition: 0.5s all; }
    .hamburger_active span {
      margin-bottom: -2px; }
      .hamburger_active span:nth-child(1) {
        transform: translateY(3px) rotate(-45deg);
        /* Перемещение на 3рх и поворачивание палочек. */ }
      .hamburger_active span:nth-child(2) {
        display: none; }
      .hamburger_active span:nth-child(3) {
        transform: translateY(3px) rotate(45deg); }

  .xs-hidden {
    display: none; }

  .xs-visible {
    display: block; }

  .subheader_call {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center; }
  .subheader_btn {
    display: block;
    height: 40px;
    width: 200px;
    margin: 0 auto; }
    .subheader_btn:hover {
      background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
      background-color: none; }

  .promo_title {
    font-size: 40px;
    line-height: 45px; }
  .promo_btn:hover {
    background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
    background-color: none; }

  footer .footer_wrapper {
    margin-top: 25px; }
  footer .line {
    width: 253px; }
  footer .link_block {
    width: 100%; }
    footer .link_block_main {
      justify-content: space-between; }
      footer .link_block_main_item {
        font-size: 14px;
        font-weight: 300;
        padding: 0; }
    footer .link_block_second {
      margin: 0 auto;
      margin-top: 6px;
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap; }
      footer .link_block_second_item {
        padding: 6px 20px;
        font-size: 11px; }
  footer .russian {
    margin-top: 13px;
    font-size: 11px; }
  footer .store_block {
    margin-top: 20px; }
    footer .store_block img {
      width: 100%; }
  footer .footer_wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  footer .social_block {
    margin: 0 auto;
    margin-top: 20px; }

  .dec {
    width: 100%; }
    .dec:nth-child(1) {
      order: 2; }
    .dec:nth-child(2) {
      order: 1; }
    .dec:nth-child(3) {
      display: flex;
      justify-content: center;
      order: 3; } }
@media (max-width: 767px) and (max-width: 575px) {
  header {
    height: 30px; }

  nav {
    height: 30px; }

  .subheader {
    height: 60px;
    top: 30px; }
    .subheader_official {
      display: none; }
    .subheader_logo {
      margin-top: 12px; }
    .subheader_call {
      margin-top: 0;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase; }
    .subheader_btn {
      width: 110px;
      height: 22px;
      font-size: 10px;
      margin-top: 3px; }
      .subheader_btn:hover {
        background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
        background-color: none; }

  .promo {
    height: 460px;
    padding: 113px 0 35px 0; }
    .promo_text {
      display: none; }
    .promo_btn {
      margin-top: 72px;
      width: 210px;
      height: 50px; }
      .promo_btn:hover {
        background-image: linear-gradient(0deg, #1eacc7 0%, #4ce2ff 100%);
        background-color: none; }
    .promo_title {
      font-size: 30px;
      padding: 0 24px;
      line-height: 35px; }
    .promo_subtitle {
      font-size: 20px;
      line-height: 30px;
      margin-top: 33px;
      /* padding: 0 10px */ }

  .menu {
    width: 85%; }
    .menu_item {
      width: 100%;
      text-align: center; }
    .menu_link {
      display: block;
      padding: 5px 0; }

  .reasons {
    padding: 22px 0 50px 0; }
    .reasons_block {
      margin-top: 15px; }
    .reasons_round {
      margin-right: 0;
      height: 100px;
      width: 100px; }
    .reasons_descr {
      width: 100%;
      margin-top: 27px; }
    .reasons_subtitle {
      font-size: 16px; }

  .title {
    font-size: 16px;
    margin-top: 15px;
    line-height: 16px; }

  .mobile {
    padding: 22px 0 13px 0; }
    .mobile_item {
      width: 290px;
      height: 254px;
      margin-bottom: 30px;
      padding: 81px 46px 0 46px; }
      .mobile_item_plus {
        bottom: 22px; }
    .mobile_subtitle {
      font-size: 18px;
      line-height: 18px;
      font-weight: 400;
      text-transform: uppercase;
      color: #ffffff;
      text-align: center; }

  .choice {
    min-height: 390px;
    padding: 25px 0 30px 0; }
    .choice_text {
      padding: 0 15px 0 15px;
      margin-top: 23px;
      color: #fff; }
    .choice_car_img {
      margin: 36px auto 0 auto;
      width: 300px;
      height: 190px;
      padding-right: 10px; } }
@media (max-width: 767px) {
  .sm-hidden {
    display: none; }

  .require {
    padding: 25px 0 19px 0; }
    .require_block {
      margin: 22px 0 0 0; }
    .require_title {
      font-size: 16px; }
    .require_list {
      margin-top: 5px;
      margin-bottom: 0;
      padding-left: 27px; }
      .require_list li {
        font-size: 14px;
        margin-bottom: 5px; }
    .require_descr {
      margin-bottom: 9px;
      font-size: 14px;
      line-height: 18px; }

  .cities {
    min-height: 360px;
    padding: 25px 0 30px 0; }

  footer {
    padding: 25px 18px 20px 18px; } }

/*# sourceMappingURL=style.css.map */
